<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 0;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }

      .container {
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          background-color: #ffffff;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .header {
          background-color: #081424;
          padding: 20px;
          text-align: center;
          color: #ffffff;
      }

      .header img {
          max-width: 100px;
          margin-bottom: 10px;
      }

      .header h1 {
          margin: 0;
          font-size: 24px;
      }

      .content {
          padding: 20px;
      }

      .content h2 {
          font-size: 22px;
          color: #333333;
      }

      .content p {
          font-size: 16px;
          color: #666666;
          line-height: 1.5;
      }

      .footer {
          background-color: #081424;
          padding: 10px;
          text-align: center;
          color: #ffffff;
          font-size: 14px;
      }

      .footer a {
          color: #ffffff;
          text-decoration: none;
      }
  </style>
</head>
<body>
<div class="container">
  <div class="header">
    <%= image_tag 'https://hotelhubstorageaccount.blob.core.windows.net/hotelhubblobcontainer/logo.png', alt: 'Yiri Ca Logo', style: 'max-width: 100px;' %>
    <h1>Welcome to Yiri Ca!</h1>
  </div>
  <div class="content">
    <h2>Hello! <%= @user.name %> <%= @user.last_name %></h2>
    <p>
      We are thrilled to have you as a part of our community. At Yiri Ca, we are committed to providing you with an exceptional experience, whether you're staying with us for business or leisure.
    </p>
    <p>
      Our team is here to ensure that your stay is comfortable and memorable. If there's anything you need, don't hesitate to reach out to us.
    </p>
    <p>
      We hope you enjoy your time at Yiri Ca and we look forward to welcoming you in person.
    </p>
    <p>
      Warm regards,<br>
      The Yiri Ca Team
    </p>
  </div>
  <div class="footer">
    <p>&copy; 2024 Yiri Ca. All rights reserved.</p>
    <p>
      <a href="https://www.yirica.com">Visit our website</a> |
      <a href="mailto:support@yirica.com">Contact Support</a>
    </p>
  </div>
</div>
</body>
</html>
