<h1>Editing cancel request</h1>

<%= render "form", cancel_request: @cancel_request %>

<br>

<div>
  <%= link_to "Show this cancel request", @cancel_request %> |
  <%= link_to "Back to cancel requests", cancel_requests_path %>
</div>
