<div id="<%= dom_id reservation_room %>">
  <p>
    <strong>Room:</strong>
    <%= reservation_room.room_id %>
  </p>

  <p>
    <strong>Reservation:</strong>
    <%= reservation_room.reservation_id %>
  </p>

</div>
