<h1>Editing reservation room</h1>

<%= render "form", reservation_room: @reservation_room %>

<br>

<div>
  <%= link_to "Show this reservation room", @reservation_room %> |
  <%= link_to "Back to reservation rooms", reservation_rooms_path %>
</div>
