<h1>Editing reservation state</h1>

<%= render "form", reservation_state: @reservation_state %>

<br>

<div>
  <%= link_to "Show this reservation state", @reservation_state %> |
  <%= link_to "Back to reservation states", reservation_states_path %>
</div>
