<p style="color: green"><%= notice %></p>

<h1>Reservation states</h1>

<div id="reservation_states">
  <% @reservation_states.each do |reservation_state| %>
    <%= render reservation_state %>
    <p>
      <%= link_to "Show this reservation state", reservation_state %>
    </p>
  <% end %>
</div>

<%= link_to "New reservation state", new_reservation_state_path %>
